<!DOCTYPE html>
<html ng-app="appCustomers">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Customers</title>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" charset="utf-8"></script>
    <script src="json/toLocalStorage.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>

<body ng-controller="mainCtrl">
    <div class="container">

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputCustomer" class="col-sm-2 control-label">Customer</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputCustomer" placeholder="Customer" ng-model="name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="col-sm-2 control-label">Telephone</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputPhone" placeholder="Phone number" ng-model="telephone">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAdressStreet" class="control-label">Street</label>
                <label for="inputAdressCity" class="control-label">City</label>
                <label for="inputAdressState" class="control-label">State</label>
                <label for="inputAdressZip" class="control-label">zip</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputAdressStreet" placeholder="Adress" ng-model="adress.street">
                    <input type="text" class="form-control" id="inputAdressCity" placeholder="Adress" ng-model="adress.city">
                    <input type="text" class="form-control" id="inputAdressState" placeholder="Adress" ng-model="adress.state">
                    <input type="text" class="form-control" id="inputAdressZip" placeholder="Adress" ng-model="adress.zip">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-click="addNewPerson()" ng-hide="currentPersonId > -1">ADD</button>
                    <button type="submit" class="btn btn-success" ng-click="savePerson()" ng-show="currentPersonId > -1">Save</button>
                </div>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Customer</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>City</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in db">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.telephone }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.adress.city }}</td>
                    <td>
                        <button class="btn" ng-click="editPerson($index)">ред-ть</button>
                        <button class="btn" ng-click="deletePerson($index)">удалить</button>
                        <button class="btn" ng-click="adressPerson($index)">адрес</button>
                    </td>
                </tr>
            </tbody>
            <pop-up></pop-up>
        </table>



    </div>


</body>

</html>
